*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto";
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 0;
    height: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
    display: flex;
    width: 300px;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.opening {
    padding-bottom: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.opening,
h1,
p {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

.opening-blurb {
    width: 500px;
}

.opening p {
    margin-top: 10px;
}

.opening-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 150px;
    padding: 5px 0 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    align-self: flex-start;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
}

