*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto";
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px 0 0;
    height: 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    list-style-type: none;
    display: flex;
    width: 300px;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.opening {
    padding-bottom: 20px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.opening,
h1,
.opening p {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
}

.opening-blurb {
    width: 500px;
}

.opening p {
    margin-top: 10px;
}

.opening-button {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 150px;
    padding: 5px 0 5px;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
}

.opening-button a {
    text-decoration: none;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    align-self: flex-start;
}

.articles {
    padding: 10px 0 10px;
}

.articles h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    margin: 0 0 10px;
}

.entries {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.fact {
    width: 400px;
    align-self: center;
}

.fact p {
    font-size: 18px;
}

.fact img {
    border: 3px solid #3882F6;
    border-radius: 5px;
    width: 100%;
}

.credit {
    font-size: 16px;
}

audio {
    display: block;
    margin: 0 0 5px;
}

.credit a {
    text-decoration: none;
    color: #3882F6;
}

.header-links a {
    text-decoration: none;
    color: #F9FAF8;
}

.quote {
    background-color: #E5E7EB;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

blockquote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
}

blockquote,
.quote p {
    width: 60%;
}

.quote p {
    font-size: 18px;
    color: #1F2937;
    text-align: end;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.cta-block {
    background-color: #3882F6;
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}

.cta-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.cta-button {
    background-color: #3882F6;
    color: white;
    padding: 5px;
    align-self: center;
    border: 2px solid white;
    border-radius: 5px;
}

.cta-button a {
    text-decoration: none;
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: #E5E7EB;
}
